<!DOCTYPE html>
<html>
    <head>
        <title>Setores</title>
        {{include ('Head.html')}}
        <script src="js/GerenciarSetores.js" type="text/javascript"></script>
    </head>


    <body style="background-color: #dddbdb">
        {{include ('Menu.html')}}
        <div class="container" style="margin-top: 13%">
            <h1 style="text-align:center">Lista De Setores</h1>
            {% if setores != null%}
            <table class=" table table-bordered">
                <thead style="background-color: #1E90FF;color: #FFF">
                    <tr>
                        <th><center>Nome</center></th>
                <th><center>Operações</center></th>
                </tr>
                </thead>
                <tbody>
                    {% for setor in setores %}
                    <tr class="active">       
                        <td>{{setor.nome}}</td>
                        <td><button class="btn btn-default"value="editarSetor" id="{{setor.codigo}}">Editar</button>
                            <button class="btn btn-danger" value="excluirSetor" id="{{setor.codigo}}">Excluir</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </body>
</html>
